# Transportation: Accident Hot Spots
## Group Assignment #2
#### Jessica T. Lopez

For this project two data sets were selected. The first one [Top 60 Priority Intersections](https://jupyter.idre.ucla.edu/hub/user-redirect/lab/tree/data/Top_60_Priority_Intersections.zip) includes all the intersections that have been prioritized for the development of safety projects in Los Angeles. The second dataset [Bike and Pedestrians KSI's](https://jupyter.idre.ucla.edu/hub/user-redirect/lab/tree/data/Density_of_Bike_Ped_KSi_s_by_CPA.geojson) contains information on bicyclits and pedestrians who have been killed or severely injured in Los Angeles. Both datasets were selected to highlight the streets and intersections that pose a threat to pedestrians and bicyclists in Los Angeles.

In [2]:
# importing pandas and geopandas
import pandas as pd
import geopandas as gpd

In [3]:
# now importing data for the first data set 'Top 60 Priority Intersections'
df = pd.read_csv('Top_60_Priority_Intersections.csv')

In [4]:
#checking on data type
type(df)

pandas.core.frame.DataFrame

In [5]:
# a peak into how the data looks
df.head (11)

             X          Y  ObjectID                            Intersection
0  -118.293400  33.763911         1                 Gaffey St & Westmont Dr
1  -118.553566  34.220468         2                 Tampa Ave & Roscoe Blvd
2  -118.571047  34.220205         3              Roscoe Blvd & Winnetka Ave
3  -118.288421  34.235491         4      La Tuna Canyon Rd & Rt 210 E/b Off
4  -118.535739  34.035819         5  Pacific Coast Hwy & Temescal Canyon Rd
5  -118.475667  34.171738         6              Burbank Blvd & Woodley Ave
6  -118.256491  34.003943         7                Vernon Ave & Central Ave
7  -118.434886  33.930826         8            Vista Del Mar & Imperial Hwy
8  -118.350916  34.032524         9                La Brea Ave & Adams Blvd
9  -118.291891  33.960030        10            Manchester Ave & Vermont Ave
10 -118.309272  34.101738        11            Hollywood Blvd & Western Ave

In [6]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   X             60 non-null     float64
 1   Y             60 non-null     float64
 2   ObjectID      60 non-null     int64
 3   Intersection  60 non-null     object
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ KB

In [7]:
df.dtypes

X               float64
Y               float64
ObjectID          int64
Intersection     object
dtype: object

In [8]:
df.shape 
# looking the total rows and columns

(60, 4)

In [9]:
#now I want to take a look closer look at all the columns to see if I need to trim anything
df.columns.to_list()

['X', 'Y', 'ObjectID', 'Intersection']

In [10]:
#Trimming will not be necessary. I will now begin plotting

In [11]:
# checking data for latitude and longitude columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   X             60 non-null     float64
 1   Y             60 non-null     float64
 2   ObjectID      60 non-null     int64
 3   Intersection  60 non-null     object
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ KB

In [12]:
columns_to_keep = ['X','Y','Intersection']
#add it to new data frame
df2 = df[columns_to_keep]

In [13]:
# renaming the columns
columns = list (df2)
columns

['X', 'Y', 'Intersection']

In [14]:
df2.columns=['longitude', 'latitude', 'Intersection']

In [15]:
# now checking dataset for new names
df2.sample(4)

     longitude   latitude                   Intersection
13 -118.217734  34.023371        Olympic Blvd & Orme Ave
17 -118.544766  34.186591      Victory Blvd & Wilbur Ave
54 -118.347507  34.040382  La Brea Ave & Washington Blvd
47 -118.536091  34.220732      Roscoe Blvd & Reseda Blvd

### From Dataframe(df) to Geodataframe(gdf)

Since this data set contains latitude and longitude coordinates I will have to convert the dataframe(df) to geodataframe(gdf).
One thing to note, as per Week 4 lab, if the data has latitude and longitude coordinates, it is a geographic coordinate system (GCS) with a crs code epsg:4326.

In [16]:
# convert df to gdf
# since data is in lat/lon's assign the crs to WGS84 (epsg:4326)
gdf = gpd.GeoDataFrame(df, 
                       crs='epsg:4326',
                       geometry=gpd.points_from_xy(df.longitude, df.latitude))

AttributeError: 'DataFrame' object has no attribute 'longitude'